In [1]:
import pandas as pd
import mysql.connector

In [2]:
connection = mysql.connector.connect(
    host='your_host',
    user='your_username',
    password='your_password',
    database='your_database'
)

In [3]:
query = 'SELECT * FROM candidate_information;'
dataframe = pd.read_sql_query(query, connection)

/tmp/ipykernel_22871/2952545661.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query(query, connection)

In [4]:
dataframe

,id,name,score,domain,resume_link,experience,age,skills
0,1,Alexander,6.1,Data Science,https://tinyurl.com/29cr7uj2,2,30,"natural language processing,text analysis,Tabl..."
1,2,Blyethe,6.7,Mern,https://tinyurl.com/23qmel2z,1,20,"GitLab,testing,bi,CLI,NodeJS,MongoDB,NGINX,Nod..."
2,3,Cherry White,7.3,Mern,https://tinyurl.com/2awlgt7n,3,25,"reusable database,Git,Angular,Docker,PHP,Junio..."
3,4,Justin,6.4,Data Science,https://tinyurl.com/2ch23gl3,5,30,"library,a simple,charts,r,statistics,data scie..."
4,5,Thrish,6.3,Data Science,https://tinyurl.com/25rslgds,2,30,"algebra,sas,data scientist,statistics,pre- cal..."
5,6,Amie Clude,6.3,Mern,https://tinyurl.com/29jv2lyn,3,40,"javascript,python,html,algorithms,git,senior e..."
6,7,Gia park,6.7,Mern,https://tinyurl.com/27z6dgnn,5,35,"mongodb,java,automation frameworks,debug,restf..."
7,8,Alonso romero,6.7,Data Analytics,https://tinyurl.com/2bfh72h5,5,40,"senior data analyst,analysis,tableau,a/b,data ..."
8,9,barrey,6.7,Data Analytics,https://tinyurl.com/2xtj7ecp,3,28,"logical models,scala,mathematical,analyzed,dat..."
9,10,carter park,7.0,Data Analytics,https://tinyurl.com/27syda69,2,25,"data processing,predictive models,marketing da..."
10,11,charla swan,6.2,Data Analytics,https://tinyurl.com/2ctamylb,6,32,"singular resource,sunburst chart,web pages,sci..."
11,12,Cymber morre,6.4,Data Analytics,https://tinyurl.com/29ahpqf4,5,35,"sql data analyst,trend lines,moore sql data an..."
12,13,Daniela wharton,6.2,Data Analytics,https://tinyurl.com/22fyon9w,5,35,"senior data analyst,numpy,pandas,data visualiz..."
13,14,Derek soto,6.5,Data Analytics,https://tinyurl.com/22ccatav,1,25,"linear,data visualizations,pandas,analysis,tab..."
14,15,Diego perez,7.0,Data Analytics,https://tinyurl.com/29mtcvx3,2,25,"data processing,amazon web,machine learning,da..."
15,16,Andrew williams,7.0,Mean,https://tinyurl.com/2akfmr66,5,30,"data structures,html,accuracy,jquery,jest,resp..."
16,17,Austin webb,6.7,Mean,https://tinyurl.com/29fs9m2l,3,28,"nodejs,reactjs tools,selenium,software enginee..."
17,18,Kathy James,7.1,Mean,https://tinyurl.com/28jxa62t,4,30,"rest,jest,responsive,software engineering,fron..."
18,19,Kevin Son,6.4,Mean,https://tinyurl.com/2ytwcxvy,1,25,"soap,java programmer,oracle,scalability,java d..."
19,20,Tyler fennel,6.0,Mean,https://tinyurl.com/29v6up5x,2,25,"data warehouse,hadoop,python developer,c++,jav..."
20,21,Anthony,8.4,Java,https://tinyurl.com/2aezy46l,6,35,"technologies,javascript,jira,testing,java deve..."
21,22,Felix soren,7.3,Java,https://tinyurl.com/2yxkuk3x,5,35,"problem- solving,springboot,javascript,back-en..."
22,23,Nadia Delgado,8.6,Java,https://tinyurl.com/2yh5884v,3,26,"junior java developer,web services,sql,javascr..."
23,24,Noah Smith,7.2,Java,https://tinyurl.com/25l5clhp,3,26,"agile,postgresql,microservices,spring boot,app..."
24,25,Olivia Miller,7.6,Java,https://tinyurl.com/259vq5r3,2,25,"java backend developer,debugging,git,mobile ap..."
25,26,Samantha Cartner,7.3,Java,https://tinyurl.com/23m8t3tc,2,26,"transactions,c++,solve,senior developers,c,css..."
26,27,Silas Thomas,7.6,Java,https://tinyurl.com/29d69dny,2,26,"back-end engineer,apis,sql,springboot,ui,javas..."

In [5]:
dataframe.to_csv('output_data.csv', index=False)

connection.close()